/* Lab 01 Solution Begins */

/* * {
  box-sizing: border-box;
}
div:not(.container) {
  background-color: rgb(197, 195, 195);
  color: rgb(255, 255, 255);
  font-size: 25px;
  position: relative;
  color: black;
  border: 1px solid #000;
}

section {
  margin: 0 auto;
} */

/* Lab 01 solution Ends */

/* Lab 04 Solution Start */
* {
  box-sizing: border-box;
  margin: 0;
}
div {
  border: 1px solid black;
}

/* Lab 04 Solution Ends */
