/* Desktop View */

* {
  box-sizing: border-box;
}
div:not(.container) {
  background-color: rgb(197, 195, 195);
  color: rgb(255, 255, 255);
  font-size: 25px;
  position: relative;
  color: black;
  border: 1px solid #000;
}

div p {
  position: absolute;
  top: 50%;
  left: 50%;
}

div h1 {
  padding: 15px;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  #a {
    width: 100%;
    height: 100px;
  }
  #b {
    width: 20.83%;
    height: 600px;
    float: left;
  }
  #c,
  #d {
    width: 39.583%;
    height: 200px;
    margin: 0;
    float: right;
  }
  #e,
  #f,
  #g,
  #h {
    width: 19.79%;
    height: 250px;
    margin: 0;
    float: right;
  }
  #i {
    width: 79.1%;
    height: 150px;
    margin: 0;
    float: right;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
}
